[submodule "util/color-control"]
	path = util/color-control
	url = git@github.com:EssentialBlocks/color-control.git
[submodule "util/gradient-color-controller"]
	path = util/gradient-color-controller
	url = git@github.com:EssentialBlocks/gradient-color-controller.git
[submodule "util/typography-control"]
	path = util/typography-control
	url = git@github.com:EssentialBlocks/typography-control.git
[submodule "util/unit-control"]
	path = util/unit-control
	url = git@github.com:EssentialBlocks/unit-control.git
[submodule "util/toggle-button"]
	path = util/toggle-button
	url = git@github.com:EssentialBlocks/toggle-button.git
