.eb-unit-control-btn-group {
  margin: 0px 0px -20px 0px;
  text-align: right;
  display: block;
}

.eb-unit-control-btn {
  color: black;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  // -webkit-box-shadow: none !important;
  border: none !important;
  text-shadow: none !important;
}

.eb-unit-active {
  color: #0084bc !important;
  font-weight: bold;
}
